{% extends "tracking/home.html" %}
{% load static %}
{% block content %}

    <link rel="stylesheet" href="{% static 'tracking/css/lists.css' %}">
    <div class="container">
        <div class="table-container">
            <div class="table-header">
                <h1 class="first-table-item"> {{ title }}</h1>
                {% if title == "Список проектов" %}
                    <a href="{% url 'add_project' %}" class="last-table-item">Добавить проект</a>
                {% endif %}
            </div>
            <div class="table-content">
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th>Клиент</th>
                            <th>Название</th>
                            <th>Дата создания</th>
                            <th>Дата закрытия</th>
                            <th>Сумма акта</th>
                            {% if title == "Итоговый список" %}
                                <th>Прибыль</th>
                                <th>Статистика</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                            <tr>
                                <td>{{ item.client }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.start_date|date:"d.m.Y" }}</td>
                                <td>{{ item.end_date|date:"d.m.Y" }}</td>
                                <td>{{ item.amount }}</td>
                                {% if title == "Итоговый список" %}
                                    <td>
                                        {% if item.profit_or_loss >= 0 %}
                                            <span style="color: green;">+{{ item.profit_or_loss }}</span>
                                        {% else %}
                                            <span style="color: red;">{{ item.profit_or_loss }}</span>
                                        {% endif %}
                                    </td>
                                    <td class="no-hover">
                                        <div class="btn">
                                            <a href="{% url 'project_statistics' item.id %}" class="btn-stat">Смотреть</a>
                                        </div>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% include "tracking/paginator.html" %}           
        </div>
    </div>

    <div id="tooltip" class="tooltip" style="display: none;"></div>
    <script src="{% static 'tracking/js/resize.js' %}"></script>
    
{% endblock %}